html, body {
  font-family: 'Montserrat', sans-serif;   
  margin: 0; 
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%
}

.half-width {
  width: 50%;
}

.padding-0 {
  padding: 0px;
}

#home {
  height: 600px;
  position: relative;
  background: #800000;
  /* background: linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.15)
    ), url('https://cdn.stocksnap.io/img-thumbs/960w/3SNCXN2Z1B.jpg'); 
  background-size: cover; */
  color: #ffffff;        
}

.contentSection {
  min-height: 200px;  
  padding: 80px;
  text-align: center;
}

#perks {
  color: #ffffff;
  background: #02AAB0;
  /* background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
  background: linear-gradient(to right, #00CDAC, #02AAB0);  */
}

#footer {
  color: #fff;
  background: #343a40;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer ul {
  list-style: none;
  padding: 0;
}

#perks p {
  color: rgba(255, 255, 255, 0.90);
}

.team-photo {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 40px;
}

.link-list {
  list-style: none;
  margin: 0;  
}

.link-list li {
  display: inline;
  margin-left: 50px;
}

.link-list li>a { 
  color: rgb(0, 149, 255);  
  text-decoration: none;    
}

.link-list li>a:hover {
  color: grey;
}

.intro h1 {
  font-size: 60px;
  padding-top: 200px;
  margin-top: 0px;
}

.intro h4 {
  font-weight: 300;
}

.perk-photo {
  width: 200px;
  height: 200px;
  margin: 20px;
}

/* #top-menu {
  width: 100%;
  background: #343a40;
  padding-top: 15px;
  padding-bottom: 15px;
}

#top-menu ul {
  list-style: none;
  padding: 0;
}

#top-menu li {
  display: inline;
  margin-left: 50px;
}

#top-menu li a { 
  color: rgb(0, 149, 255);  
  text-decoration: none;    
}

#top-menu li a:hover { 
  color: grey;
} */

/* #title {
    animation-duration: 1s;
    animation-delay: 2s;
    -moz-animation-delay: 1s;
    -moz-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 2s;
    -o-animation-delay: 1s;
    -o-animation-duration: 2s; 
}

#sub-title {
    animation-duration: 2s;
    animation-delay: 2s;
}

#icon-list {
    animation-duration: 2s;
    animation-delay: 3s;
}

#photo-cred {
    animation-duration: 2s;
    animation-delay: 4s;
} */